.App {
  .opacity: 0.7;
}

.container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
    background: linear-gradient( 75deg,
      rgba(226, 138, 221, 0.7), 
      rgba(255, 203, 221, 0.7),
      rgba(255, 0, 0, 0.7)
    ), url('../img/cat-background.jpg') no-repeat center;
  /*// Photo by Ilnur Kalimullin on Unsplash*/
  background-size: cover;
  
}

.title {
  text-align: center;
  font-size: 2.6em;
  font-family: 'Lobster', cursive;
  color: #ffb3ec;
  text-shadow: 0px 1.5px 10px #000000;
}

.unsplash {
    margin: auto;
    margin-top: 19px;s
    display: block;
    position: relative;
}

.unsplash button {
    border-radius: 50%;
    padding: 18px 40px;
    background: transparent;
    font-size: 25px;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50%;
    font-family: 'Satisfy', cursive;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
}


.unsplash button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #f7d794;
  cursor: pointer;
  transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
}
    
 .unsplash .randomCatPhoto {
  max-width: 500px;
  padding-right: 0px;
  margin: auto;
  margin-top: 20px;
}

.unsplash .box {
  position: relative;
  max-height: 310px;
  overflow: hidden;
}

.unsplash img {
  width: 100%;
}

.unsplash .fact {
  font-size:30px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  text-transform: uppercase;
  word-wrap: break-word;
  width: 400px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  text-shadow: 0px 1px 6px #000000;
}

.unsplash figcaption {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 0.6em;
  text-align: center; 
}

.twitterLink {
  position: absolute;
  color: dodgerblue;
  left: 75%;
  bottom: 20%;
}

.twitterLink a{
  border-radius: 48%;
  padding: 7px 13px;
  text-decoration: none;
  color: #0084b4;
}

.twitterLink a:hover {
  background-color: #0084b4;
  color: white;
}

.twitterLink .twitterText {
  font-family: 'Lobster', cursive;
}


