.title {
  text-align: center;
}

.fact {
  text-align: center;
}

.unsplash {
    margin: auto;
    margin-top: 19px;
    display: block;
    position: relative;
}

.unsplash button {
    padding: 20px 25px;
    font-size: 25px;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
    
 .unsplash .randomCatPhoto {
  width: max-content;
  padding-right: 0px;
  margin: auto;
  margin-top: 30px; 
}

.unsplash img {
  max-width: 300px;
  margin: auto;
  border: 1px solid #000000; 
}

.unsplash figcaption {
  font-size: small;
  text-align: center; 
}